<%- include("partials/cartHeader"); -%>

<style>@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }</style>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="/studentHome" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Add more items</a></h5>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Your cart : </p>
                    </div>
                    <div>
                      <p class="mb-0"><form action="/placeOrder" method="get"><button class="btn btn-warning" type="submit">Place Order</button></form></p>
                    </div>
                  </div>

                  <%if(foundCart.items!=null){%>
                    <% foundCart.items.forEach(function(food){%>
                        <%foundItems.forEach(function(menu){%>
                            <%if(String(food.itemId) === String(menu._id)){%>
                                <div class="card mb-3">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                          <div>
                                            <img
                                              src="<%=menu.menuImg%>"
                                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                          </div>
                                          <div class="ms-3">
                                            <h5><%=menu.name%></h5>
                                          </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                          <div style="width: 50px;">
                                            <h5 class="fw-normal mb-0">1</h5>
                                          </div>
                                          <div style="width: 80px;">
                                            <h5 class="mb-0">₹ <%=menu.price%></h5>
                                          </div>
                                          <form action="/cart/delete" method="post">
                                            <button name = "remove" type="submit" value="<%=food.itemId%>"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            <%}%>
                        <%});%>
                    
                    <%})}; %>
  
  
                  
  
                  
                </div>
                <div class="col-lg-5 mt-4">
  
                    <div class="card  text-black rounded-3" style="background-color: #ffcd39;">
                      <div class="card-body">
                        <div class="d-flex justify-content-around align-items-center  mb-4">
                          <h5 class="mb-0">Have Coupon Code ?</h5>
                          
                        </div>
    
                        <form class="mt-4">
                          <div class="form-outline form-white mb-4">
                            <input type="text" id="typeName" class="form-control form-control-lg" size="17"
                              placeholder="Enter Code" />

                          </div>
    
                        
    
                        </form>
    
                        <hr class="my-4">
    
                        
    
                      </div>
                    </div>
    
                  </div>
        
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("partials/footer"); -%>